#title-div {
  text-align: center;
  font-family: 'Marcellus SC', serif;
  font-size: 80px;
  text-shadow: 2px 2px 2px white;
  background-image: url("./plating.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid silver;
}

#title-words {
  text-align: center;
  color: rgb(87, 15, 6);
  font-family: 'Marcellus SC', serif;
  font-size: 80px;
  margin-top: 50px;
  text-shadow: 2px 2px 1px black;
}

@media only screen and (max-width: 1165px) {
  #title-div {
    font-size: 70px;
    padding-top: 10px;
  }
  
  #title-words {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1025px) {
  #title-div {
    font-size: 60px;
    padding-top: 15px;
  }
  
  #title-words {
    font-size: 60px;
    text-shadow: 2px 1px 1px black;
  }
}

@media only screen and (max-width: 900px) {
  #title-div {
    font-size: 50px;
    padding-top: 22px;
  }
  
  #title-words {
    font-size: 50px;
  }
}

@media only screen and (max-width: 750px) {
  #title-div {
    font-size: 40px;
    padding-top: 30px;
  }
  
  #title-words {
    font-size: 40px;
  }
}

@media only screen and (max-width: 620px) {
  #title-div {
    font-size: 40px;
    padding-top: 10px;
  }
  
  #title-words {
    font-size: 40px;
  }
}