.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.instructions {
  width: 50% !important;
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  color: white;
  padding: 20px;
  background-image: url("./stars.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-left: 2px solid silver;
  border-bottom: 2px solid silver;
}

.counter {
  width: 50% !important;
  font-family: 'Marcellus SC', serif;
  padding: 20px;
  color: white;
  font-weight: bold;
  background-image: url("./stars.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 10px;
  border-right: 2px solid silver;
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}

@media only screen and (max-width: 1165px) {
  .scoreSummary{
    font-size: 25px;	
  }
}
@media only screen and (max-width: 1025px) {
  .scoreSummary{
    font-size: 22px;	
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    padding: 5px;
  }
  .scoreSummary{
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .scoreSummary{
    font-size: 18px;	
  }
}

@media only screen and (max-width: 620px) {
  .scoreSummary{
    font-size: 15px;	
  }
}

@media only screen and (max-width: 560px) {
  .scoreSummary{
    font-size: 14px;	
  }
}

@media only screen and (max-width: 340px) {
  .scoreSummary{
    font-size: 12px;	
  }
}